<div class="center extraButtonsDiv">
  <button (click)="scorePoints(bull.value)">{{bull.text}}</button>
  <button (click)="scorePoints(bullsEye.value)">{{bullsEye.text}}</button>
  <!-- TODO remove reduceDartCounter() completely, replace it with the following:
   <button (click)="scorePoints(miss.value)">{{miss.displayName}}</button>
   -->
  <button (click)="reduceDartCounter()">{{miss.text}}</button>
  <!-- TODO end -->
</div>

<!--  TODO the following three parts can be extract into one parametrized component -->
<div class="center rounded width-330 border-green">
  <div class="buttonDiv">
    <button *ngFor="let single of singles" (click)="scorePoints(single.value)">
      {{single.text}}
    </button>
  </div>
</div>

<div class="center rounded width-330 border-purple">
  <div class="buttonDiv">
    <button *ngFor="let double of doubles" (click)="scorePoints(double.value)">
      {{double.text}}
    </button>
  </div>
</div>

<div class="center rounded width-330 border-red">
  <div class="buttonDiv">
    <button *ngFor="let triple of triples; let i = index" (click)="scorePoints(triple.value)">
      {{triple.text}}
    </button>
  </div>
</div>
