.extraButtonsDiv {
  width: 300px;

  button {
    margin-left: 5%;
    margin-right: 5%;
    width: 70px;
    height: 40px;
  }
}

button:hover {
  background-color: red;
}

.buttonDiv {
  width: 300px;
  margin: 2% 4%;

  button {
    width: 30px;
    height: 40px;
  }
}

.center {
  margin: 0 auto;
}

.width-330 {
  width: 330px;
}

.rounded {
  border-radius: 17%;
}

.border-green {
  border: solid green;
}

.border-purple {
  border: solid #170080;
}

.border-red {
  border: solid #80002b;
}
