<div [hidden]="this.dartService._hideAll" class="container-fluid">

  <div class="d-flex flex-row flex-wrap w-100 justify-content-center align-items-center">
    <div class="d-flex flex-column mx-3 pt-2 btn-scale">
      <div class="d-flex justify-content-center pb-3">
        <button
          id="dart-btn-bull"
          class="m-auto raised-button-3d-rect"
          mat-flat-button [color]="multiplierService.multiplier() === 2 ? 'accent' : 'primary'"
          matRipple [matRippleColor]="customRipple.rippleColor" [matRippleRadius]="customRipple.rippleRadius"
          (shapeMorphClick)="scoreBull()"
          appShapeMorph>
          Bull
        </button>
        <button
          id="dart-btn-bullseye"
          class="m-auto raised-button-3d-rect" mat-flat-button
          [color]="multiplierService.multiplier() === 2 ? 'accent' : 'accent'"
          matRipple [matRippleColor]="customRipple.rippleColor" [matRippleRadius]="customRipple.rippleRadius"
          (shapeMorphClick)="scoreBullsEye()"
          appShapeMorph>
          BullsEye
        </button>
      </div>

      <div class="d-flex flex-row justify-content-center flex-wrap">
        <div *ngFor="let group of buttonGroups" class="d-flex flex-column">
          <div class="my-2 d-flex justify-content-center mx-2"
               *ngFor="let inputButton of group">
            <button class="mb-2 raised-button-3d"
                    id="dart-btn-{{inputButton.zahl}}"
                    matRipple [matRippleColor]="customRipple.rippleColor" [matRippleUnbounded]="true"
                    [matRippleCentered]="true"
                    [matRippleRadius]="customRipple.rippleRadius" mat-fab [color]="buttonColor"
                    (shapeMorphClick)="scoreWithMultiplier(inputButton)"
                    appShapeMorph>
              {{ inputButton.zahl }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
