<div [hidden]="this.dartService._hideAll" class="container-fluid">

  <div class="d-flex flex-row flex-wrap w-100 justify-content-center align-items-center">
    <div class="d-flex flex-column mx-3 pt-2 btn-scale">
      <app-bull-buttons
        (bullClick)="scoreBull()"
        (bullseyeClick)="scoreBullsEye()">
      </app-bull-buttons>

      <div class="d-flex flex-row justify-content-center flex-wrap">
        <div *ngFor="let group of buttonGroups" class="d-flex flex-column">
          <div class="my-2 d-flex justify-content-center mx-2"
               *ngFor="let inputButton of group">
            <button class="mb-2 raised-button-3d"
                    id="dart-btn-{{inputButton.zahl}}"
                    matRipple [matRippleColor]="customRipple.rippleColor" [matRippleUnbounded]="true"
                    [matRippleCentered]="true"
                    [matRippleRadius]="customRipple.rippleRadius" mat-fab [color]="buttonColor"
                    (shapeMorphClick)="scoreWithMultiplier(inputButton)"
                    appShapeMorph>
              {{ inputButton.zahl }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
