<div class="progress-container m-1 px-1 py-1 shadow rounded">
  <!-- Erstes Drittel: Punktzahl des aktuellen Spielers -->
  <div class="section player-info">
    <mat-card class="matcardpointer h-100 w-100 d-flex flex-row"
              (click)="currentPlayerService.showHistory(currentPlayerService._currentPlayer.value)">
      <div class="info-card">
        <div class="player-name-score-row">
          <div class="player-name text-wrap text-truncate">
            <mat-icon *ngIf="currentPlayerService._currentPlayer.value.isAI" class="ai-icon">smart_toy</mat-icon>
            {{ currentPlayerService._currentPlayer.value.name || 'Spieler' }}:
          </div>
          <div class="player-score">{{ this.currentPlayerService._remainingPointsToDisplay() }}</div>
        </div>
        <div class="player-avg small">⌀ {{ currentPlayerService._currentPlayer.value.average }}</div>
      </div>
    </mat-card>
  </div>
  <div class="section dart-status">
    <div class="status-content">
      <div class="dart-buttons-vertical">
        <button
          [color]="(currentPlayerService.last3HisSignal().length >= 1) ? getProgressColor() : 'gray'"
          mat-mini-fab
          class="no-pointer mat-mini-fab"
        ><span>{{ currentPlayerService.last3HisSignal()[0] ?? '➶' }}</span>
        </button>
        <button
          [color]="(currentPlayerService.last3HisSignal().length >= 2) ? getProgressColor() : 'gray'"
          mat-mini-fab
          class="no-pointer"
        ><span>{{ currentPlayerService.last3HisSignal()[1] ?? '➶' }}</span>
        </button>
        <button
          [color]="(currentPlayerService.last3HisSignal().length >= 3) ? getProgressColor() : 'gray'"
          mat-mini-fab
          class="no-pointer"
        ><span>{{ currentPlayerService.last3HisSignal()[2] ?? '➶' }}</span>
        </button>
      </div>
      <div class="d-flex flex-row">
        <div class="round-info small text-nowrap">
          <span class="round-label">Runde</span>
          <span class="round-value">{{ roundCountService.roundCount }}/{{ roundCountService.MAX_ROUND_COUNT }}</span>
        </div>
        <div class="timer-container">
          <span class="game-timer">{{ gameTimerService.elapsedTimeSignal() }}</span>
        </div>
      </div>
      <button class="p-2" mat-icon-button (click)="openPlayersOverviewDialog()">
        <mat-icon>groups</mat-icon>
      </button>

    </div>
  </div>
</div>
<div class="section players-overview">
  <div class="mini-scoreboard">
    <app-mini-player-overview></app-mini-player-overview>
  </div>
</div>
