<div [hidden]="this.cricketService._hideAll" class="p-3 d-flex flex-column">
  <div class="d-inline-flex flex-row">
    <div class="cricket-bullbtn-section d-flex flex-column align-items-center">
      <button [disabled]="isClosed(25)()" mat-raised-button
              class="justify-content-center no-pointer fs-3 mt-4 me-5"
              [color]="'accent'"
      >{{ getBadgeCountValue(25)() }}
      </button>
      <div class="d-flex flex-column btn-scale">
        <app-bull-buttons
          class="mt-4 input-btn-margin"
          [disabled]="isClosed(25)()"
          (bullClick)="scoreBull()"
          (bullseyeClick)="scoreBullsEye()">
        </app-bull-buttons>
      </div>
    </div>
  </div>
  <div class="d-inline-flex flex-row">
    @for (group of buttonGroups[0]; track $index) {
      <div class="d-flex flex-column align-items-center">
        <button [disabled]="isClosed(group)()" mat-raised-button
                class="justify-content-center no-pointer fs-3 mt-4 me-1"
                [color]="'accent'"
        >{{ getBadgeCountValue(group)() }}
        </button>
        <button [disabled]="isClosed(group)()"
                id="cricket-btn-{{group}}"
                class="mt-4 raised-button-3d {{this.isScorable(group)()? '' : border}} input-btn-margin"
                mat-fab
                [color]="buttonColor"
                matRipple [matRippleColor]="customRipple.rippleColor" [matRippleUnbounded]="true"
                [matRippleRadius]="customRipple.rippleRadius"
                (shapeMorphClick)="justScore(group)"
                appShapeMorph
        >
          {{ group }}
        </button>
      </div>
    }
  </div>
  <div class="d-inline-flex flex-row">
    @for (group of buttonGroups[1]; track $index) {
      <div class="d-flex flex-column align-items-center">
        <button [disabled]="isClosed(group)()" mat-raised-button
                class="justify-content-center no-pointer fs-3 mt-4 me-1"
                [color]="'accent'"
        >{{ getBadgeCountValue(group)() }}
        </button>
        <button [disabled]="isClosed(group)()"
                id="cricket-btn-{{group}}"
                class="mt-4 raised-button-3d {{this.isScorable(group)()? '' : border}} input-btn-margin"
                mat-fab
                [color]="buttonColor"
                matRipple [matRippleColor]="customRipple.rippleColor" [matRippleUnbounded]="true"
                [matRippleRadius]="customRipple.rippleRadius"
                (shapeMorphClick)="justScore(group)"
                appShapeMorph
        >
          {{ group }}
        </button>
      </div>
    }
  </div>
</div>
