<div class="d-flex flex-column">
  <mat-progress-bar [color]="'accent'" [value]="progress()"></mat-progress-bar>
  <h5>
    NEXT Player: {{ this.nextPlayer.name }}
  </h5>
  @if (this.cricketService._gameType === '') {
    <div class="d-flex flex-column">
      <app-mini-player-overview></app-mini-player-overview>
    </div>
  } @else {
    <div class="d-flex flex-column">
      <app-mini-player-overview></app-mini-player-overview>
    </div>
  }
  <h3 class="text-light"><strong>
    ∑ {{ this.currentPlayerService._lastTurnSum }} | ➶ {{ wellFormedArray(this.currentPlayerService._lastTurnHits) }}
    <br>
    Points: {{ this.currentPlayerService._currentPlayer.value.remainingPoints }}
  </strong></h3>
  <div class="d-flex flex-row justify-content-between">
    <button mat-raised-button color="accent" (click)="this.snackBarRef.dismiss()">OK</button>
  </div>
</div>
